[Desktop Entry]
Type=Application
Name=Restore Configuration
Name[pt_BR]=Restaurar Configurações
Exec=biglinux-config
Icon=biglinux-config
Categories=System;
StartupNotify=true
Terminal=false

