[Desktop Entry]
Type=Application
Name=Restore Settings
Name[pt_BR]=Restaurar Configurações
Name[es]=Restaurar Configuraciones
Name[bg]=Възстановяване на настройки
Name[cs]=Obnovit nastavení
Name[da]=Gendan indstillinger
Name[de]=Einstellungen wiederherstellen
Name[el]=Επαναφορά ρυθμίσεων
Name[et]=Taasta seaded
Name[fi]=Palauta asetukset
Name[fr]=Restaurer les paramètres
Name[he]=שחזר הגדרות
Name[hr]=Vraćanje postavki
Name[hu]=Beállítások visszaállítása
Name[is]=Endurheimta stillingar
Name[it]=Ripristina impostazioni
Name[ja]=設定を復元
Name[ko]=설정 복원
Name[nl]=Instellingen herstellen
Name[no]=Gjenopprett innstillinger
Name[pl]=Przywróć ustawienia
Name[pt]=Restaurar Configurações
Name[ro]=Restabilire setări
Name[ru]=Восстановить настройки
Name[sk]=Obnoviť nastavenia
Name[sv]=Återställ inställningar
Name[tr]=Ayarları Geri Yükle
Name[uk]=Відновити налаштування
Name[zh]=恢复设置
Exec=biglinux-config
Icon=biglinux-config
#Categories=System;
StartupNotify=true
Terminal=false


Actions=SoftwareRender;

[Desktop Action SoftwareRender]
Name=Software Render
Exec=SoftwareRender biglinux-config
